<!DOCTYPE html>
<html lang="{{ .Page.Lang }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ .Page.Title }}</title>
    {{ partial "styles" . }}
  </head>
  <body>
    {{ partial "components/skip-links" . }}
    <div class="box sidebar sidebar_side_left">
      <div>
        {{ partial "header" . }}
        <div>
          <main id="main" class="box">
            {{ block "main" . }}{{ end }}
          </main>
          {{ partial "footer" . }}
        </div>
      </div>
    </div>
    {{ partial "scripts" . }}
  </body>
</html>
