<!DOCTYPE html>
<html lang="{{ .Page.Lang }}">
  <head>
    {{ partial "meta" . }}
    <title>{{ .Page.Title }}</title>
    {{ partial "styles" . }}
  </head>
  <body>
    {{ partial "components/skip-links" . }}
    <div class="stack">
      {{ partial "header" . }}
      {{ if .IsHome }}
        <div class="cover cover_min-height_30vh">
          <div class="cover__centered center center_text">
            <h1>{{ .Site.Title }}</h1>
            <p>{{ .Site.Params.description }}</p>
          </div>
        </div>
      {{ end }}
      <main class="center" id="main">
        {{ block "main" . }}{{ end }}
      </main>
      {{ partial "footer" . }}
    </div>
    {{ partial "scripts" . }}
  </body>
</html>
