{{- define "main" }}
  <div class="cover cover_min-height_50vh">
    <div class="cover__centered center center_text stack" style="min-width: 50%">
      <span class="cover__centered frame frame_ratio_40:13">
        {{- $config := imageConfig "static/images/logo.png" -}}
        <img src="{{ "images/logo.png" | relURL }}" width="{{ $config.Width }}" height="{{ $config.Height }}" alt="{{ .Site.Title }}" loading="lazy">
      </span>
      {{- with .Site.Params.description }}<p>{{ . }}</p>{{ end -}}
    </div>
  </div>
  <main class="stack center center_padding_gutters stack" id="main">
    <article class="stack">
      <div class="center center_text">
        {{ with .Content }}{{ . | emojify }}{{ end }}
      </div>
      <ul class="cards stack">
        {{ range (.Paginate (where .Site.Pages "Type" "==" "guide")).Pages }}
          <li class="cards__card card box">
            <div class="card__image"></div>
            <div class="card__text stack">
              <h3>
                <a href="{{ .Permalink }}">{{- .Title -}}</a>
              </h3>
              <p>
                {{- if .Description -}}
                  {{ .Description }}
                {{- else if .Summary -}}
                  {{- .Summary | safeHTML | truncate 140 "..." -}}
                {{- end -}}
              </p>
              <small>{{ .Date.Format "February 02, 2006" }}</small>
            </div>
          </li>
        {{ end }}
      </ul>
    </article>
    {{ partial "components/pagination" . }}
  </main>
{{ end -}}
