{{- define "main" }}
  <main class="center center_padding_gutters stack" id="main">
    <header>
      <h1>{{- .Title -}}</h1>
      <small class="cluster">
        <span>
          <span>{{ partial "components/authors" . }}</span>
          <span>{{ partial "components/sources" . }}</span>
          <span>{{ partial "components/license" . }}</span>
        </span>
      </small>
    </header>
    <article class="stack">
      {{- with .Content }}{{ . }}{{ end -}}
    </article>
  </main>
{{ end -}}
