.center {
  box-sizing: content-box;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--center-max);
  padding-left: var(--center-gutters);
  padding-right: var(--center-gutters);
}

.center_text {
  text-align: center;
}

.center_intrinsic {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.center_gutters_s0 {
  --center-gutters: var(--s0);
}

.center_max_x1\.5 {
  --center-max: calc(var(--measure) * 1.5);
}
