.cluster {
  overflow: hidden;
}

.cluster > * {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--cluster-justify);
  align-items: var(--cluster-align);
  margin: calc(var(--cluster-space) / 2 * -1);
}

.cluster > * > * {
  margin: calc(var(--cluster-space) / 2);
}

.cluster_align_left {
  --cluster-align: flex-start;
}

.cluster_align_center {
  --cluster-align: center;
}

.cluster_align_right {
  --cluster-align: flex-end;
}

.cluster_justify_start {
  --cluster-justify: flex-start;
}

.cluster_justify_end {
  --cluster-justify: flex-end;
}

.cluster_justify_space-between {
  --cluster-justify: space-between;
}

.cluster_justify_space-around {
  --cluster-justify: space-around;
}
