.cover {
  --minimum-height: 100vh;
  --space: var(--s1);
  display: flex;
  flex-direction: column;
  min-height: var(--minimum-height);
  padding: var(--space);
}

.cover_no-padding {
  padding: 0;
}

.cover > * {
  margin-bottom: var(--space);
  margin-top: var(--space);
}

.cover > :first-child:not(.cover__content) {
  margin-top: 0;
}

.cover > :last-child:not(.cover__content) {
  margin-bottom: 0;
}

.cover > .cover__content {
  margin-bottom: auto;
  margin-top: auto;
}
