.cover {
  display: flex;
  flex-direction: column;
  min-height: var(--cover-min-height);
  padding: var(--cover-space);
}

.cover > * {
  margin-top: var(--cover-space);
  margin-bottom: var(--cover-space);
}

.cover > :first-child:not(.cover__centered) {
  margin-top: 0;
}

.cover > :last-child:not(.cover__centered) {
  margin-bottom: 0;
}

.cover > .cover__centered {
  margin-top: auto;
  margin-bottom: auto;
}

.cover_no-padding {
  --cover-space: 0;
}

.cover_min-height_25vh {
  --cover-min-height: 25vh;
}

.cover_min-height_30vh {
  --cover-min-height: 30vh;
}

.cover_min-height_50vh {
  --cover-min-height: 50vh;
}

.cover_min-height_75vh {
  --cover-min-height: 75vh;
}

.cover_min-height_100vh {
  --cover-min-height: 100vh;
}
