.imposter {
  position: var(--imposter-position);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.imposter__content {
  --margin: 0px;
  overflow: auto;
  max-width: calc(100% - (var(--imposter-margin) * 2));
  max-height: calc(100% - (var(--imposter-margin) * 2));
}

.imposter_position_fixed {
  --imposter-position: fixed;
}
