.reel {
  display: flex;
  height: var(--reel-height);
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-color: var(--reel-thumb-color) var(--reel-track-color);
}

.reel::-webkit-scrollbar {
  height: var(--s1);
}

.reel::-webkit-scrollbar-track,
.reel::-webkit-scrollbar-thumb {
  background-color: var(--reel-track-color);
}

.reel::-webkit-scrollbar-thumb {
  background-image: linear-gradient(var(--reel-track-color) 0, var(--reel-track-color) 0.25rem, var(--reel-thumb-color) 0.25rem, var(--reel-thumb-color) 0.75rem, var(--reel-track-color) 0.75rem);
}

.reel > * {
  flex: 0 0 var(--reel-item-width);
}

.reel > img {
  flex-basis: auto;
  height: 100%;
  width: auto;
}

.reel > * + * {
  margin-left: var(--reel-space);
}

.reel_overflowing {
  padding-bottom: var(--reel-space);
}
