.sidebar {
  overflow: hidden;
}

.sidebar > * {
  display: flex;
  flex-wrap: wrap;
  margin: calc(var(--sidebar-space) / 2 * -1);
}

.sidebar > * > * {
  margin: calc(var(--sidebar-space) / 2);
  flex-grow: 1;
}

.sidebar_side-width {
  flex-basis: var(--sidebar-side-width);
}

.sidebar_side_left > * > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(var(--sidebar-content-minimum-width) - var(--sidebar-space));
}

.sidebar_side_right > * > :first-child {
  flex-basis: 0;
  flex-grow: 999;
  min-width: calc(var(--sidebar-content-minimum-width) - var(--sidebar-space));
}
