:root {
  --filter: 0;
  background-color: #fefefe;
  filter: invert(calc(var(--filter) * 1%));
}

* {
  background-color: inherit;
}

video,
img:not([src*=".svg"]) {
  filter: invert(calc(var(--filter) * 1%));
}

.theme-switcher {
  color: #ffffff;
  background-color: #000000;
  padding: var(--s-2) var(--s0);
}
