.max-width_half {
  max-width: calc(var(--measure) / 2) !important;
}

.max-width_third {
  max-width: calc(var(--measure) / 3) !important;
}

.max-width_quarter {
  max-width: calc(var(--measure) / 4) !important;
}

.max-width_fifth {
  max-width: calc(var(--measure) / 5) !important;
}

.width\:100\% {
  width: 100%;
}

.list-style\:none {
  list-style: none;
}

.background-color_primary {
  background-color: var(--color-primary);
}

.background-color_secondary {
  background-color: var(--color-secondary);
}

.margin-top\:0 {
  margin-top: 0;
}

.margin-left\:auto {
  margin-left: auto;
}
