<footer class="box stack">
  <div class="switcher switcher_limit_4">
    <div>
      <div class="stack">
        {{ with .Site.Menus.telegram }}
          <div>
            <h3>{{ i18n "telegram" }}</h3>
            <ul>
              {{ range . }}
                <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
        {{ with .Site.Menus.discord }}
          <div>
            <h3>{{ i18n "discord" }}</h3>
            <ul>
              {{ range . }}
                <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="cluster cluster_justify_space-between cluster_align_center">
    <div>
      <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Copyleft &#127279; {{ now.Format "2006" }} {{ .Site.Title }}</a>
      {{ partial "theme-switcher" . }}
    </div>
  </div>
</footer>
