<hr/>
<footer id="footer" class="box box_boder_none stack">
  <div class="switcher switcher_limit_4">
    <div>
      <div class="stack">
        {{ with .Site.Menus.telegram }}
          <div class="stack">
            <h3>{{ i18n "menu_telegram" }}</h3>
            <ul>
              {{ range . }}
                <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
        {{ with .Site.Menus.discord }}
          <div class="stack">
            <h3>{{ i18n "menu_discord" }}</h3>
            <ul>
              {{ range . }}
                <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
      <div class="stack">
        {{ with .Site.Menus.partners }}
          <div class="stack">
            <h3>{{ i18n "menu_partners" }}</h3>
            <ul>
              {{ range . }}
                <li><a href="{{ .URL }}" title="{{ .Title }}">{{ .Pre }}{{ .Name }}{{ .Post }}</a></li>
              {{ end }}
            </ul>
          </div>
        {{ end }}
      </div>
      {{ with .Site.Data.patrons }}
        <div class="stack">
          <div class="cluster cluster_align_left">
            <div>
              <h3>{{ i18n "menu_patrons" }}</h3>
              {{ $imagePath := "static/images/become_a_patron_button.png" }}
              {{ if (fileExists $imagePath) }}
                <a href="//patreon.com/join/toby3d" target="_blank">
                  {{ $config := imageConfig $imagePath }}
                  <img src="{{ strings.TrimPrefix "static/" $imagePath | absURL }}" width="{{ $config.Width }}" height="{{ $config.Height }}" alt="become a patron button" />
                </a>
              {{ end }}
            </div>
          </div>
          <div class="cluster">
            <ul class="center_text">
              {{ range .patrons }}
                <li>
                  {{ if .link }}<a href="{{ .link }}" title="{{ .name }}" rel="nofollow" target="_blank">{{ end }}
                  {{ $imagePath := (print "static/images/patrons/" .id ".png") }}
                  {{ if (and (gt .id 0) (fileExists $imagePath)) }}
                    {{ $config := imageConfig $imagePath }}
                    <img src="{{ strings.TrimPrefix "static/" $imagePath | absURL }}" width="{{ $config.Width }}" height="{{ $config.Height }}" alt="{{ .name }}" loading="lazy" />
                  {{ else }}
                    {{ delimit (split .name " ") "<br/>" }}
                  {{ end }}
                  {{ if .link }}</a>{{ end }}
                </li>
              {{ end }}
              <li><a href="{{ "/donate" | absURL }}">{{ i18n "menu_patrons__add-yourself" }}</a></li>
            </ul>
          </div>
        </div>
      {{ end }}
    </div>
  </div>
  <div class="cluster cluster_justify_space-between cluster_align_center">
    <div>
      <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">&#127279; {{ now.Format "2006" }} {{ .Site.Title }}</a>
      {{ partial "components/theme-switcher" . }}
    </div>
  </div>
</footer>
