<header class="[ box ][ box_border_none box_boder_bottom stack_space_0 ]" id="header">
  <nav class="[ center ][ cluster cluster_justify_start cluster_align_center ]">
    <ul>
      {{ $home := .Site.GetPage "/" }}
      <li>
        <a class="logo" href="{{ $home.RelPermalink }}" title="{{ $home.LinkTitle }}">
          {{ .Site.Title }}
        </a>
      </li>
      {{- range .Site.Menus.header }}
        <li>
          <a href="{{ .URL }}" title="{{ .Title }}">
            {{ .Name }}
          </a>
        </li>
      {{ end -}}
      <li class="js-search"></li>
    </ul>
  </nav>
</header>
