{{- $themeSwitcher := resources.Get "js/theme-switcher.js" -}}
{{- $grid := resources.Get "js/grid.js" -}}
{{- $reel := resources.Get "js/reel.js" -}}
{{- $liteYouTube := resources.Get "js/lite-yt-embed.js" -}}
{{- $liteVimeo := resources.Get "js/lite-vimeo-embed.js" -}}
{{- $search := resources.Get "js/search.js" -}}
{{- $scripts := slice $themeSwitcher $grid $reel $liteVimeo $liteYouTube $search | resources.Concat "scripts.js" | resources.ExecuteAsTemplate (print "script." .Lang ".js" ) . | minify | fingerprint -}}
<script src="{{ $scripts.RelPermalink | relURL }}" async defer></script>
