{{ define "header" }}
  <header></header>
{{ end }}

{{ define "main" }}
  <main class="cover__centered center center_text stack">
    <hgroup>
      <h1>{{ i18n "404__header" }}</h1>
      <h2>{{ i18n "404__sub-header" }}</h2>
    </hgroup>
    <div class="frame frame_ratio_5:4">
      <img src="{{ "images/404.jpg" | relURL }}">" />
    </div>
    <p>{{ i18n "404__description" }}</p>
    <div class="cluster cluster_align_center cluster_justify_space-around">
      <div>
        <a href="{{ "/" | relURL }}" target="_self">{{ i18n "404__back-link" }}</a>
        <a rel="noopener noreferrer" href="{{ print .Site.Params.repository "new/master/" | relURL }}" target="_blank">{{ i18n "404__create-page" }}</a>
      </div>
    </div>
  </main>
{{ end }}

{{ define "footer" }}
  <footer></footer>
{{ end }}
