{{- define "main" }}
  <main class="center center_padding_gutters stack" id="main">
    <header>
      <h1>{{ .Title }}</h1>
    </header>
    <article class="stack">
      {{ with .Content }}{{ . }}{{ end }}
      <div class="stack">
        {{ range $index, $contact := .Params.contacts }}
          <div class="box cluster cluster_justify_space-between cluster_align_center">
            <div itemscope itemtype="http://schema.org/Person">
              {{- $image := $.Page.Resources.GetMatch (print $contact.image) -}}
              {{- if $image }}
                <img alt="{{ $contact.name }}" src="{{ $image.RelPermalink }}" width="64" height="64" loading="lazy" itemprop="image">
              {{ end -}}
              <span>
                {{- if (and $contact.givenName $contact.familyName) }}
                  <h3>
                    <span itemprop="givenName">{{ $contact.givenName }}</span>
                    <span itemprop="familyName">{{ $contact.familyName }}</span>
                  </h3>
                {{ else if $contact.name }}
                  <h3 itemprop="name">{{ $contact.name }}</h3>
                {{ end -}}
                {{- with $contact.jobTitle }}
                  <p itemprop="jobTitle">{{ . }}</p>
                {{ end -}}
              </span>
              {{ with $contact.email }}
                <a class="button" href="mailto:{{ . }}">{{ i18n "contacts__write" }}</a>
              {{ end }}
            </div>
          </div>
        {{ end }}
      </div>
    </article>
  </main>
{{ end -}}
