{{ define "header" }}
  {{ partial "navigation" . }}
  {{ partial "header" . }}
{{ end }}

{{ define "main" }}
  <main class="[ center ][ stack ][ center_padding_gutters ]" id="main">
    <article class="stack">
      {{ with .Content }}
        {{ . }}
      {{ end }}
      <ul>
        {{ range .Pages }}
          <li>
            <a href="{{ .Permalink }}" title="{{ .LinkTitle }}">
              {{ .Title }}
            </a>
            <small>{{ .Description }}</small>
          </li>
        {{ end }}
      </ul>
    </article>
    {{ partial "pagination" . }}
  </main>
{{ end }}
